<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CmsTest">
<resultMap type="cn.com.mybatis.po.Customer" id="UserAndProductsResultMap">
	<result column="username" property="username"/>
	<result column="acno" property="acno"/>
	<result column="gender" property="gender"/>
	<result column="cus_id" property="cus_id"/>
	
	<collection property="batchList" ofType="cn.com.mybatis.po.Batch">
		<id column="batch_id" property="batch_id"/>
		<result column="cus_id" property="cus_id"/>
		<result column="createtime" property="createtime" javaType="Date"/>
		<result column="note" property="note"/>
	
		<collection property="batchDetail" ofType="cn.com.mybatis.po.BatchDetail">
			<id column="id" property="id"/>
			<result column="batch_id" property="batch_id"/>
			<result column="product_id" property="product_id"/>
			<result column="product_num" property="product_num"/>
			
			<association property="finacialProduct" javaType="cn.com.mybatis.po.FinacialProduct">
				<id column="product_id" property="id"/>
				<result column="name" property="name"/>
				<result column="price" property="price"/>
				<result column="detail" property="detail"/>
			</association>
			
		</collection>
	</collection>
</resultMap>

	<select id="findUserAndProducts" resultMap="UserAndProductsResultMap">
	SELECT
	c.username,
	c.acno,
	c.Gender,
	c.cus_id,
	b.*,
	bd.product_id,
	bd.product_num,
	f.`name`,
	f.detail,
	f.price 
FROM
	finacial_products f,
	customer c,
	bathch b,
	batchdetail bd 
WHERE
	c.cus_id = b.cus_id 
	AND b.batch_id = bd.batch_id 
	AND bd.product_id = f.product_id
	</select>



</mapper>
