<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mybatis.mapper.CustmerMapper">

	<select id="findCustmerById" resultType="cn.com.mybatis.po.Customer">
		SELECT * FROM customer WHERE CUS_ID = #{cus_id}
	</select>

</mapper>