<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
	<resultMap id="shoppingResult" type="cn.com.mybatis.po.ShoppingCart" >
		<id property="scart_id" column="scart_id"/>
		<result property="p_name" column="p_name"/>
		<association property="user" javaType="cn.com.mybatis.po.User">
		<id property="id" column="user_id"/>
		<result property="username" column="user_name"/>
		<result property="gender" column="gender"/>
		<result property="email" column="email"/>
		</association>
	</resultMap>
	<select id="queryShoppingCart" resultMap="shoppingResult" >
	select s.scart_id as scart_id,
		s.p_name as p_name,
		u.ID as ID,
		u.username as username,
		 u.gender as gender, 
		 u.EMAIL as EMAIL
		from shopping_cart s inner join user u on s.scart_id=u.id 
		and u.username = #{username}
	</select>		



	<select id="findUserById" parameterType="int" resultType="cn.com.mybatis.po.User">
		SELECT * FROM USER WHERE ID=#{id}
	</select>
	
	<select id="findUserByName" parameterType="java.lang.String" resultType="cn.com.mybatis.po.User">
		Select * from user where username like '%${value}%' 
	</select>
	
	<select id="findUserByProvince" parameterType="String" resultType="cn.com.mybatis.po.User">
	Select * from user where province like '%${value}%' 
	</select>
	
	<insert id="insertUser" parameterType="cn.com.mybatis.po.User">
	insert into User(
		USERNAME,
		PASSWORD,
		GENDER,
		EMAIL,
		PROVINCE,
		CITY,
		BIRTHDAY
	)values(
		#{username},
		#{password},
		#{gender},
		#{email},
		#{province},
		#{city},
		#{birthday}
	)
	</insert>
	
	
	<update id="updateUser" parameterType="cn.com.mybatis.po.User">
	update USER SET 
		USERNAME = #{username},
		PASSWORD = #{password},
		GENDER = #{gender},
		EMAIL = #{email},
		PROVINCE = #{province},
		CITY = #{city},
		BIRTHDAY = #{birthday}
		where 
		ID = #{id}
	</update>
	
	
	<delete id="deleteByUserName" parameterType="cn.com.mybatis.po.User">
	DELETE FROM USER WHERE USERNAME = #{username}
	</delete>
	
	
</mapper>